body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.deliveriesContainer{
    margin-top: 100px;
}

.tableBody{
    border-collapse: collapse;
}

.tableBody thead tr td:nth-child(1)
.tableBody thead tr td:nth-child(1)
.tableBody thead tr td:nth-child(3)
.tableBody tbody tr td:nth-child(1){
    text-align: center;
}

.eventContainer{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.formContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
